body {
  background: pink;
}

form {
  margin: 20px;
}

#search {
  font-family: sans-serif;
  font-size: 20px;
  background: papayawhip;
  border: 2px solid white;
  border-radius: 3px;
  padding: 10px;
  text-align: left;
}

button {
  font-size: 20px;
  margin: 5px 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 3px;
  background: white;
  font-family: sans-serif;
  font-weight: bolder;
  color: salmon;
}

button:hover {
  font-size: 20px;
  margin: 5px 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 3px;
  background: salmon;
  font-family: sans-serif;
  font-weight: bolder;
  color: white;
  cursor: pointer;
}

.data {
  margin-top: 30px;
  font-family: sans-serif;
  font-size: 20px;
}

.result {
  margin-top: 5px;
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
}

ul {
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
}

li {
  list-style-type: none;
  margin-top: 3px;
}
